body, input, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure, svg {
  margin: 0;
  padding: 0;
}

body, input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #2f2f2f;
}

h1 {
  font-size: 24px;
}

a {
  text-decoration: none;
}

.brand, .brand:hover {
  text-decoration: none;
  color: #2f2f2f;
}

a:hover {
  color: #4ad4ff;
}

a:visited {
  color: #2f2f2f;
}

.wrapper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.header, .footer {
  margin-top: 1em;
  display: flex;
  align-items: center;
  width: 100%;
}

.header {
  justify-content: space-between;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.header-buttons a {
  height: 16px;
}

.help-button {
  padding: 2px;
  border: none;
  border-radius: 3px;
  width: 16px;
  height: 16px;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  margin-left: 4px;
  line-height: 0.5;
}

.help-button:hover {
  cursor: pointer;
}

.footer {
  justify-content: flex-end;
  font-size: 12px;
}

/*
  Upload pane
*/
.upload-pane {
  margin-top: 3em;
  display: grid;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.upload-button {
  grid-column: 1;
  cursor: pointer;
}

.upload-filename {
  grid-column: 2;
  justify-self: center;
}

.upload-entrycount {
  grid-column: 3;
  justify-self: right;
}

/*
  Forms and buttons
*/
input[type="file"] {
  display: none;
}

input[type="range"] {
  width: 95%;
}

.button {
  padding: 3px;
}

button:disabled, button[disabled] {
  cursor: default;
  opacity: 0.25;
}

/*
  Work pane
*/
.work-pane {
  background-color: #eeeeee;
}

.work-pane, .settings {
  border-radius: 0 0 5px 5px;
}

.work-pane canvas{
  margin-top: 1em;
}

.csv {
  padding: 5px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 790px;
}

.csv-startmessage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 40px;
}

.csv-header {
  font-weight: 700;
  margin-bottom: 5px;
}

.csv-column {

}

.csv-item {
  padding-left: 2px;
  overflow: hidden;
  height: 14px;
}

.settings {
  padding: 5px;
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
  background-color: #cccccc;
}

.settings-section {
  border-right: 1px dashed #bbbbbb;
  margin-right: 5px;
}

.settings-section p {
  margin-bottom: 5px;
  font-weight: 400;
}

.settings-subsection {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.settings-subsection label {
  width: 50%;
}

.settings-subsection select {
  width: 95%;
}

.save-button {
  height: 24px;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
}

.save-button:focus {
  outline: none;
  border: none;
}

.save-section {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/*
 Help modal
*/
.modal-body p {
  margin-bottom: 10px;
}

ol, ul {
  margin-left: 25px;
}

.modal-wrapper {
  line-height: 1.5;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
  Other
*/
.icon svg {
  width: 16px;
  height: 16px;
}
